.vex.vex-theme-plain .vex-content{
    border: 1px solid #203744 !important;
    outline: white solid 6px !important;
    width: 300px !important;
}
.vex .vex-dialog-form {
    color:#203744;
}
.vex .okButton {
    color: white;
    background: #2AB573;
}

.vex .redButton {
    color: white;
    background: #FE3030;
}

.vex .simpleCancel {
    background: white;
    float: left !important;
    text-transform: capitalize !important;
}

.BYGshepard .shepherd-text {
  color: #3b744f; }

.BYGshepard[data-id="bienvenido"] header {
    /*55a892*/
    background: #98EBB9 !important; }

.BYGshepard .shepherd-content footer a {
    /*55a892*/
    background: #2AB573 !important; }